@import 'partial/variables';
@import 'partial/base';

.section-inner {
	max-width:1200px;
}

.social-icons a, #site-footer button:not(.toggle), #site-footer .button, #site-footer .faux-button, #site-footer .wp-block-button__link, #site-footer .wp-block-file__button, #site-footer input[type="button"], #site-footer input[type="reset"], #site-footer input[type="submit"],
body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
	background:transparent;
	color:$textColor;
	text-decoration:none;
}

ul.social-icons {
	justify-content:right;
	text-align:right;
}

.footer-social-wrapper {
	background:$secondaryColor;
}

.header-titles-wrapper {
	max-width:100%;
	margin:0;
}

.header-inner {
	display:block;
}

.header-menu-container {
	border-top:1px solid $borderColor;
	.section-inner {
		position:relative;
	}
	.primary-menu {
		justify-content:center;
		a {
			font-size:1.6rem;
			text-decoration:none;
			font-weight:normal;
			color:$textColor;
			display:block;
			padding:20px;
			&:hover {
				color:$primaryColor;
			}
		}
		li {
			margin-left:0;
		}
	}
	.header-toggles {
		position:absolute;
		top:0;
		right:0;
		margin:0;
		.search-toggle {
			position:static;
			padding:20px;
			&:hover {
				svg {
					fill:$primaryColor;
				}
			}
			svg {
				fill:$textColor;
			}
			.toggle-text {
				display:none;
			}
		}
	}
}

.type-page {
	.page-title {
		display:none;
	}
}