@import 'partial/variables';
@import 'partial/base';

body {
	background:$white;
}

.section-inner {
	max-width:1200px;
}

.social-icons a, #site-footer button:not(.toggle), #site-footer .button, #site-footer .faux-button, #site-footer .wp-block-button__link, #site-footer .wp-block-file__button, #site-footer input[type="button"], #site-footer input[type="reset"], #site-footer input[type="submit"],
body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote::before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
	background:transparent;
	color:$textColor;
	text-decoration:none;
}

ul.social-icons {
	justify-content:right;
	text-align:right;
}

.footer-social-wrapper {
	background:$secondaryColor;
}

.header-titles-wrapper {
	max-width:100%;
	margin:0;
}

.header-inner {
	display:block;
}

.header-menu-container {
	position:-webkit-sticky;
	position:sticky;
	top:0;
	z-index:999999999;
	background:$white;
	border-top:1px solid $borderColor;
	border-bottom:1px solid $borderColor;
	.section-inner {
		position:relative;
	}
	.primary-menu {
		justify-content:center;
		a {
			font-size:1.6rem;
			text-decoration:none;
			font-weight:normal;
			color:$textColor;
			display:block;
			padding:20px;
			&:hover {
				color:$primaryColor;
			}
		}
		li {
			margin-left:0;
		}
	}
	.header-toggles {
		position:absolute;
		top:0;
		right:0;
		margin:0;
		.search-toggle {
			position:static;
			padding:20px;
			&:hover {
				svg {
					fill:$primaryColor;
				}
			}
			svg {
				fill:$textColor;
			}
			.toggle-text {
				display:none;
			}
		}
	}
}

.type-page {
	.page-title {
		display:none;
	}
}

.post-inner {
	padding:0;
}

.entry-content > .alignwide,
[class*="__inner-container"] > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	width:100%;
	max-width:100%;
}

.featured-posts-slider {
	.post-slide-image {
		padding-bottom:50%;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		position:relative;
		display:block;
		&:before {
			transition:opacity 0.5s;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:10;
			background:rgba(0,0,0,0.5);
			content:"";
		}
	}
	.post-slide-content {
		padding:0 80px;
		text-align:center;
		position:absolute;
		left:0;
		right:0;
		top:50%;
		transform:translateY(-50%);
		z-index:20;
	}
	.post-slide-title {
		font-size:4.4rem;
		font-weight:700;
		text-transform:uppercase;
		color:$white;
	}
	.post-slide-description {
		font-size:1.6rem;
		color:$white;
	}
	.slick-slide {
		position:relative;
	}
	a.read-more {
		padding:10px 40px;
		display:block;
		margin:0 auto;
		width:200px;
		background:$primaryColor;
		color:$white;
		border-radius:3px;
		text-decoration:none;
		margin-top:20px;
		font-size:1.8rem;
		text-transform:uppercase;
		&:hover {
			color:$primaryColor;
			background:$white;
		}
	}
	a.link-full {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:block;
		z-index:30;
	}
	.slick-arrow {
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		z-index:999;
		padding:0;
		width:40px;
		height:40px;
		text-align:center;
		line-height:40px;
		background:rgba(255,255,255,0.5);
		border-radius:40px;
		img {
			display:block;
			margin:0 auto;
			width:16px;
		}
		&.slick-prev {
			left:220px;
		}
		&.slick-next {
			right:220px;
		}
	}
}

.recipe-cat-container {
	text-align:center;
	padding:0 20px;
	.recipe-cat-title {
		font-size:4.4rem;
		font-weight:300;
		text-transform:uppercase;
		color:$textColor;
		margin-top:60px;
		margin-bottom:20px;
	}
	ul, li {
		margin:0;
		padding:0;
		list-style:none;
	}
	ul {
		display:grid;
		grid-template-columns:repeat(5, 1fr);
		grid-gap:30px;
		max-width:960px;
		margin:0 auto;
	}
	li a {
		span {
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			display:block;
			margin:0 auto 10px;
			width:100%;
			padding-bottom:100%;
			border-radius:100%;
		}
		font-size:1.6rem;
		color:$textColor;
		text-decoration:none;
	}
}

.custom-container {
	max-width:100%!important;
	margin:0 auto!important;
	padding:0 20px!important;
}

.latest-home-posts {
	display:grid!important;
	grid-template-columns:repeat(4, 1fr);
	grid-gap:20px;
	&:before {
		grid-column:1 / 5;
		content:"Latest Recipes";
		font-size:4.4rem;
		text-align:center;
		color:$textColor;
		font-weight:300;
		text-transform:uppercase;
		display:block;
	}
	li {
		display:block;
		width:auto!important;
		margin:0;
		border:0;
		background:#fff;
	}
	img {
		width:auto!important;
		height:auto!important;
		max-width:100%!important;
	}
	&.wp-block-latest-posts {
		li {
			margin:0;
			padding:0;
			border:0;
			.wp-block-latest-posts__featured-image {
				margin:0;
			}
		}
	}
}

.latest-post-group {
	margin-top:80px!important;
	margin-bottom:0px!important;
	padding-top:60px;
	background:#f9f9f9;
	.wp-block-latest-posts__featured-image {
		position:relative;
		overflow:hidden;
		padding-bottom:100%;
		img {
			max-width:none!important;
			max-height:none!important;
			width:100%!important;
			height:100%!important;
			position:absolute;
			left:0;
			top:0;
			object-fit:cover;
		}
	}
	.wp-block-latest-posts {
		li {
			border:1px solid #f5f5f5;
			border-radius:5px;
			box-shadow:0 0 5px rgba(0,0,0,0.01);
			overflow:hidden;
			position:relative;
			padding-bottom:70px;
			> a {
				display:block;
				padding:15px 15px 10px;
				font-size:2.4rem;
				color:$primaryColor;
				font-weight:normal;
			}
			.read-more {
				position:absolute;
				bottom:0;
				left:0;
				right:0;
				padding:15px;
				color:$primaryColor;
				text-transform:uppercase;
				border-top:1px solid #f5f5f5;
				font-size:1.8rem;
				text-align:center;
				font-weight:normal;
				&:hover {
					background:$primaryColor;
					color:$white;
				}
			}
			.wp-block-latest-posts__post-excerpt {
				margin:0;
				padding:0 15px;
				font-size:1.6rem;
			}
		}
	}
}

.wp-block-buttons {
	padding:40px 20px;
	max-width:100%!important;
	width:100%!important;
	margin:0!important;
	background:#f9f9f9;
	.wp-block-button.view-all-btn {
		display:block;
		text-align:center;
		margin:0;
		a {
			padding:10px 40px;
			text-decoration:none;
			transition:all 0.2s;
			border:1px solid $primaryColor;
			&:hover {
				color:$primaryColor!important;
				background:$white!important;
			}
		}
	}
}

#site-footer {
	background:#111;
	padding:20px 0;
	.section-inner {
		display:block;
	}
	.footer-credits,
	.footer-copyright {
		display:block;
		color:$white;
		text-align:center;
		font-size:1.4rem;
	}
}

.to-the-top {
	display:none;
}

.primary-menu li.menu-item-has-children > ul,
.primary-menu li.menu-item-has-children > ul,
.primary-menu li.menu-item-has-children > ul {
	top:100%;
	background:$white;
	border-radius:0;
	padding:0;
	border:1px solid $borderColor;
	border-top:0;
	&:before,
	&:after {
		display:none;
	}
	a {
		border-top:1px solid $borderColor;
		transition:color 0.2s;
		&:hover {
			background:$secondaryColor;
		}
		padding:10px;
	}
}

.search-modal {
	display:block;
	position:absolute;
	top:0;
	right:0;
	left:auto;
	opacity:0;
	width:0;
	overflow:hidden;
	background:transparent;
	transition:all 0.2s;
	&.active {
		left:auto;
		right:0;
		width:300px;
		opacity:1;
		overflow:visible;
		transition:all 0.2s;
	}
	.search-modal-inner {
		transform:none;
	}
	.section-inner {
		margin:0;
		width:100%;
		border-left:1px solid $borderColor;
		border-right:1px solid $borderColor;
		padding:0 15px;
	}
	.toggle {
		padding:0!important;
		background-color:$white;
		margin:0;
		svg {
			width:14px;
			height:14px;
		}
	}
	.search-field {
		height:59px;
		font-size:1.6rem;
		&::placeholder {
			line-height:revert;
		}
	}
}

@media only screen and (max-width:1200px) {
	.featured-posts-slider .post-slide-title {
		font-size:3.6rem;
	}
	.featured-posts-slider .post-slide-description {
		font-size:1.4rem;
	}
}

@media only screen and (max-width:999px) {
	.custom-logo-link {
		img {
			display:none;
		}
		display:block;
		width:80px;
		margin:0 auto;
		height:37px;
		background:url(../images/mobile-logo.png) top center no-repeat;
		background-size:100% auto;
	}
	#site-header.header-footer-group {
		position:-webkit-sticky;
		position:sticky;
		top:0;
		z-index:99999999;
		background:$white;
		.section-inner {
			width:100%;
			padding:10px 15px;
		}
	}
	.header-inner {
		border-bottom:1px solid $borderColor;
	}
	.header-menu-container {
		display:none;
	}
	.header-titles-wrapper {
		display:grid;
		padding:0;
		grid-template-columns:28px 1fr 28px;
		.search-toggle,
		.toggle,
		.toggle-inner {
			position:static;
			display:block;
			padding:0;
			height:auto;
			width:auto;
		}
		.toggle-text {
			display:none;
		}
	}
	.nav-toggle .toggle-icon, .nav-toggle svg {
		width:38px;
		height:38px;
	}
}

.menu-modal {
	z-index:99999999;
}

.showing-menu-modal {
	overflow:hidden!important;
}

.toggle-text {
	display:none!important;
}